

.footer{
    padding: 10px;
    width: 100%;
    background: rgb(236, 227, 227);
    color: black;
    height: 40%;
    display: flex;
    justify-content: space-between;
}
.ul{
    display: flex;
 
  
}

.body{
  min-height: 100vh;
  background-color: brown;
}